html, body {
    padding: 0;
    margin: 0; 
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,94,94);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 85vw;
    height: 85vh;
    border: 1px solid rgb(245,94,94);
    border-radius: 20px;
    background-color: white;
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    height: 15vh;
}

.break {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#break {
    display: flex;
    justify-content: center;
    align-items: center;
}

#session {
    display: flex;
    justify-content: center;
    align-items: center;
}

.session {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

button {
    cursor: pointer;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    outline: 0;
}

.settings button {
    border: none;
    color: rgb(245,94,94);
    font-size: 1.5vw;
    font-weight: bold;
}

.settings h6 {
    margin: 0;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 60vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 6vw;
}

#trigger {
    display: block;
    border: none;
    font-size: 1.5vw;
    color: rgb(245,94,94);
    margin-bottom: 6vh;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 35vw;
}

.time h1 {
    margin: 0;
    text-align: center;
}

.buttons {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#start-break, #start-session {
    display:  none;
    border: none;
    font-size: 2.5vw;
    color: rgb(245,94,94);
    margin-bottom: 15vh;
}

#colon {
    width: 20%;
}

#minutes, #seconds {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-family: 'Pacifico', cursive;
    color: rgb(245,94,94);
    text-align: center;
    width: 75vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quote h1 {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    #quote {
        font-size: 3vw;
    }
}

@media screen and (max-width: 425px) {
    html,body {
        background-color: white;
        overflow: hidden;
    }

    .container {
        width: 100vw;
        height: 100vh;
        border: none;
    }

    .settings {
        width: 60vw;
        font-size: 5vw;
        text-align: center;
        height: 10vh;
    }

    .settings button {
        font-size: 6vw;
    }

    #trigger {
        font-size: 4vw;
        margin-bottom: 0vh;
    }

    .timer {
        width: 70vw;
    }

    .time {
        width: 100%;
        font-size: 10vw;
    }

    .buttons {
        width: 100%;
    }

    #start-break, #start-session {
        font-size: 4.5vw;
    }

    #quote {
        width: 90vw;
        font-size: 5.5vw;
    }
}

